.product {
    max-width: 320px;
    width: 100%;
    border: 1.5px solid #ccca;
    border-radius: 0.6em;
    transition: transform 100ms ease-in-out;
    cursor: pointer;
    background-color: white;
}

.product:hover {
    transform: scale(1.03);
    box-shadow: 0 .2em 2em #0002;
}

.product__header {
    aspect-ratio: 1.4;
    padding: 3em;
    border-bottom: 1px solid rgba(174, 174, 174, 0.667);
    overflow: hidden;
}

.prodcut__img {
    width: 80%;
    height: 80%;
    max-width: 300px;
    object-fit: contain;
}

.product__body {
    padding: 1.5em 1em 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5em;
}

.product__titles {
    grid-column: span 2;
}

.product__brand {
    font-size: 1rem;
    position: relative;
    left: 1em;
    color: #aaa;
    font-weight: 500;
    margin-bottom: 0.2em;
}

.product__name {
    font-size: 1.1rem;
    font-weight: 600;
}

.product__price-label {
    position: relative;
    left: 1em;
    color: #aaa;
    font-weight: 500;
}

.product__price-number {
    color: #555;
    font-weight: 600;
    font-size: 1rem;
}

.product__price-number::before {
    content: '$';
    margin-right: 0.4em;
}

.product__btn {
    background-color: #f85555;
    color: white;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-left: auto;
    position: relative;
    top: 0.5em;
    right: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 100ms ease-in-out, filter 100ms ease-in-out;
}

.product__btn:hover {
    filter: brightness(1.2);
    transform: scale(1.1);
}



@media (min-width: 1300px) {
    .product-list li {
    padding: 30px;
}
    
}
@media (min-width: 1200px) {
.product-list li {
    width: 33.33333%;
}
   
}

@media (min-width: 576px) {
.product-list li {
    width: 50%;
}
    
}