.carousel {
    width: 100%;
    max-width: 700px;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slider__movement {
    display: flex;
    transition: transform 300ms ease;
}

.slider__container-img {
    width: 100%;
    aspect-ratio: 1.5;
    padding: 3em;
}

.slider__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider__btn {
    font-size: 1.5rem;
    width: 2em;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    background-color: #F85555;
    color: white;
    z-index: 1;
}

.slider__btn:hover {
    filter: brightness(1.05);
}

.slider__btn-right {
    right: 0;
}

.carousel__footer {
    width: 100%;
    max-width: 300px;
    display: flex;
    gap: 2em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3em;
}

.carousel__container-img {
    width: calc(1/3 * 100%);
    aspect-ratio: 1;
    border-radius: 0.3em;
    padding: 0.5em;
}

.carousel__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.carousel__img:hover {
    transform: scale(1.1);
}

.active-img {
    border: 2px solid  #F85555;
}

