.cart {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 4em;
}

.cart__header {
    max-width: 800px;
    width: 200px;
    flex-shrink: 0;
}

.cart__img {
    display: flex;
}

