.login {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    padding: 17px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* @media (max-width: 400px) {
    .login{
        width: 90%;
    }
} */

.login__img { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.login__name {
    display: flex;
    text-align: center;
    margin-bottom: 1em;
    font-size: inherit;
}

.login__btn {
    justify-content: center;
    font-size: 1.2rem;
    width: 100%;
    padding: .4em  1em;
    background-color: #F85555;
    border-radius: .5em;
    margin-bottom: .5em;
    cursor: pointer;
    transition: transform 100ms ease, filter 100ms ease; 
}

.login__btn:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}

.login__logout {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2fa8f8;
    font-size: inherit;
    margin-left: 4em;
    border-radius: .5em;
}


/* ////////////////////// */

.form {
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    padding: 17px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form__login {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 1em;
}

.form__email {
    font-size: 1.3em;
}

.pasword__password {
    font-size: 1.3em;
}


.form__submit {
    display: grid;
}

.input {
    margin-bottom: 1em;
}

.leter {
    color: white;
}

.pasword__btn {
    background: var(--primary);
    background-color: rgb(255, 71, 71);
    margin: 10px 0 25px;
    padding: 9px;
    width: 100%;
}


/* //////////////////// */

.pasword__register {
    display: flex;
    text-align: center;
    text-decoration: 0;
}

.switch-form {
    font-size: .9rem;
} 

.switch-btn {
    color: #2fa8f8;
    font-size: inherit;
    font-size: .7rem;
}

.form__hello {
    text-align: center;
    margin-bottom: 1.5em;
    color: #2fa8f8;
}

.input {
    border: 1px solid rgb(185, 185, 185)
}

label {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;


    animation: typing 2s steps(18), blink .12s infinite step-end alternate;
overflow:hidden;
}

@keyframes typing {
    from { width: 0; }
}

@keyframes blink {
    100% { border-color: transparent; }
}

